.numbers {
    text-align: center;
}

.main{
    background: #543509;
}

.content {
    height: 800px;
}
 .my-menu{
     background: #ece123;
 }
 .my-content{
     background: #367d7e;
 }
.part-1{
    background: indigo ;
}
.part-2{
    background: crimson ;
}
